<a href="https://colab.research.google.com/github/yamashitaryoya/Prmn2023a/blob/main/my/answer/PythonBasic_4_Question_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

1.   リスト項目
2.   リスト項目



この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [ ]:
# 入力用
import random

gakuseki=[]
for i in range(5):
  gakuseki.append('b' + str(2220000 + random.randint(1,280) * 10))
  
print(gakuseki)

['b2220620', 'b2220230', 'b2220240', 'b2221580', 'b2221850']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [ ]:
# 入力用
import random
import numpy as np

for i in range(2):
  list_i = []
  nature = [1,2,3,4,5,6,7,8,9]
  random.shuffle(nature)

  for j in range(5):
    list_i.append(nature.pop(0))
  
  if(i == 0):
    list_1 = list_i

  else:
    list_2 = list_i

print('1つ目のリスト:',list_1)
print('2つ目のリスト:',list_2)

list_3 = np.array(list_1) + np.array(list_2)

print('足し合わせたリスト:',list_3)

1つ目のリスト: [4, 7, 5, 6, 9]
2つ目のリスト: [2, 8, 7, 6, 9]
足し合わせたリスト: [ 6 15 12 12 18]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]



```
# これはコードとして書式設定されます
```

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [ ]:
# 入力用
import random

random.shuffle(todohuken_list)
result = []

for i in range(0,len(todohuken_list),4):
    result.append(todohuken_list[i:i+4])

print(result)

[['長崎県', '奈良県', '千葉県', '広島県'], ['岐阜県', '徳島県', '秋田県', '岩手県'], ['栃木県', '山梨県', '愛知県', '高知県'], ['神奈川県', '沖縄県', '和歌山県', '島根県'], ['岡山県', '鳥取県', '滋賀県', '埼玉県'], ['大阪府', '静岡県', '福島県', '兵庫県'], ['熊本県', '大分県', '東京都', '長野県'], ['福岡県', '山形県', '山口県', '新潟県'], ['香川県', '青森県', '三重県', '宮崎県'], ['愛媛県', '京都府', '宮城県', '佐賀県'], ['茨城県', '福井県', '北海道', '鹿児島県'], ['石川県', '富山県', '群馬県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [ ]:
# 入力用
int_num_list = []
str_num_list = []
sorted_univercity_list = []
for i in range(4):
  int_num_list.append(int(university_list[i].split(',')[1]))

int_num_list.sort()

for i in range(4):
  str_num_list.append(str(int_num_list[i]))

for i in range(4):
  for j in range(4):
    if (str_num_list[i] in university_list[j]):
      sorted_univercity_list.append(university_list[j])

print(university_list)
print(sorted_univercity_list)

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [ ]:
# 入力用
game_list = []

for i in range(1,101):

  if(i%3 == 0 and i%5 == 0):
    i = 'FizzBuzz'

  elif(i%3 == 0):
    i = 'Fizz'

  elif(i%5 == 0):
    i = 'Buzz'

  else:
    i = 'others'

  game_list.append(i)

print('FizzBuzzの数;',game_list.count('FizzBuzz'))
print('Fizzの数;',game_list.count('Fizz'))
print('Buzzの数;',game_list.count('Buzz'))
print('othersの数;',game_list.count('others'))

FizzBuzzの数; 6
Fizzの数; 27
Buzzの数; 14
othersの数; 53